<!--<div class="sidebar container-fluid">-->
<!--<a [routerLink]="['booking']"> <svg id="i-reload" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none"-->
<!--stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">-->
<!--<path d="M29 16 C29 22 24 29 16 29 8 29 3 22 3 16 3 10 8 3 16 3 21 3 25 6 27 9 M20 10 L27 9 28 2" />-->
<!--</svg>-->
<!--</a>-->
<!--<a [routerLink]="['claim']">Claim</a>-->
<!--<a [routerLink]="['wallet']">Wallet</a>-->
<!--</div>-->

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" *ngIf="loggedInUserDetails.guestUser">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/guest/dashboard"
               href="javascript:void(0)">
              <i class="feather fa fa-tachometer" aria-hidden="true"></i>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/guest/menu"
               href="javascript:void(0)">
              <i class="feather fa fa-bars" aria-hidden="true"></i>
              Menu
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/guest/order-history"
               href="javascript:void(0)">
              <i class="feather fa fa-shopping-basket" aria-hidden="true"></i>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/guest/favorite"
               href="javascript:void(0)">

              <i class="feather fa fa-heart-o" aria-hidden="true"></i>
              My Favorites
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/guest/buffet-Booking"
               href="javascript:void(0)">
              <span class="sidebar-icon sidebarIcon-bulk-order"></span>&nbsp;
              Buffet
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" routerLinkActive="active-link active" routerLink="/guest/promotion">
              <i class="feather fa fa-tag" aria-hidden="true"></i>
              Promotions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" routerLinkActive="active-link active" routerLink="/guest/feedback">
              <i class="feather fa fa-comments-o" aria-hidden="true"></i>
              Feedback
            </a>
          </li>
          <li class="nav-item" *ngIf="loggedInUserDetails.eoUserRoleList.length == 1">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/guest/chat"
               href="javascript:void(0)">
              <i class="feather fa fa-comments" aria-hidden="true"></i>
              Support Chat <span class="badge badge-secondary ml-2" *ngIf="unreadCount > 0">{{unreadCount}}</span>
            </a>
          </li>
        </ul>
        <ul class="nav flex-column" *ngIf="!loggedInUserDetails.guestUser">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/manager/dashboard"
               href="javascript:void(0)">
              <i class="feather fa fa-tachometer" aria-hidden="true"></i>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/manager/menu-main/summary"
               href="javascript:void(0)">
              <i class="feather fa fa-bars" aria-hidden="true"></i>
              Menu
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/manager/order-recieved"
               href="javascript:void(0)">
              <i class="feather fa fa-shopping-basket" aria-hidden="true"></i>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/manager/category-main/summary"
               href="javascript:void(0)">
              <i class="feather fa fa-clone" aria-hidden="true"></i>
              Category
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/manager/bulk-booking/summary"
               href="javascript:void(0)">
              <span class="sidebar-icon sidebarIcon-bulk-order"></span>&nbsp;
              Buffet
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/manager/promotion-main/summary"
               href="javascript:void(0)">
              <i class="feather fa fa-tag" aria-hidden="true"></i>
              Promotions
            </a>
          </li>
          <!--<li class="nav-item">-->
          <!--<a class="nav-link"routerLinkActive="active-link active" routerLink=""-->
          <!--href="javascript:void(0)">-->
          <!--<i class="feather fa fa-cutlery" aria-hidden="true"></i>-->
          <!--Table-->
          <!--</a>-->
          <!--</li>-->
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/manager/employee-main/summary"
               href="javascript:void(0)">
              <i class="feather fa fa-user" aria-hidden="true"></i>
              Employees
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-link active" routerLink="/manager/chat"
               href="javascript:void(0)">
              <i class="feather fa fa-comments" aria-hidden="true"></i>
              Chats <span class="badge badge-secondary ml-2" *ngIf="unreadCount > 0"></span>
            </a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="javascript:void(0)"routerLinkActive="active-link active" routerLink="/manager/table-main/summary">
              <i class="feather fa fa-cutlery" aria-hidden="true"></i>
              Table
            </a>
          </li>-->
          <!--<li class="nav-item">
            <a class="nav-link" href="customers.html"routerLinkActive="active-link active" routerLink="/manager/customer">
              <i class="feather fa fa-address-book" aria-hidden="true"></i>
              Customers
            </a>
          </li>-->
        </ul>
      </div>
    </nav>
  </div>
</div>
