<!-- <div id="dash" class="main-width">
    <div class="row mt-1" style="background-color: brown;width: 109%;color: cornsilk; height: 40px;">
      <div class="col-md-2 col-lg-4 col-sm-4 " id="next">
        <div class="col">
          <p class="text-left mt-3" style="color: cornsilk; font-size: large; font-style: inherit;">
            {{today | date:'MMM d, y'}} </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 mt-1">
        <h3 style="margin-left: 77px;">View User</h3>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-4 mt-1">
        <h5 class="label bold d-inline-block" style="margin-left: 190px;">{{userName}} {{phoneDisp}} </h5>
      </div>
    </div>
    <div class="row" style="background-color: brown ; color: cornsilk;width: 109%;">

      <div class="col-md-12 col-lg-4 col-sm-4" style="margin-left: 1080px;">
        <h4> ({{role}})</h4>
      </div>
    </div>
  </div> -->



<div class="header">
  <div class="navbar-header">
    <button type="button" id="sidebarCollapse" class="btn  navbar-btn">
      <i class="glyphicon glyphicon-align-left"></i>
      <span></span>
    </button>
  </div>
  <a><img src="assets/icons/newLogo.jpg" style="margin-left: 0px;
        width: 70px;margin-bottom: -16px;margin-top: -30px;height: 78px;"></a>

  <a class="text-left mt-3" style="color: cornsilk; font-size: large; font-style: inherit;margin-left: 30px;">
    {{today | date:'MMM d, y'}} </a>
  <div class="header-right">

    <a>
      <img src="assets/images/cris.jpg" id="profileImage-log" loadClass="rounded-circle" class="rounded-circle"
        width="40" height="40" style="margin-top: -7px"> </a>
    <a style="color: cornsilk;">{{firstName }}{{lastName}}</a>

    <select class="select" (change)="navigateTo($event.target.value)">
        <option  value="d"></option>
      <option  value="a" >Profile</option>
      <option  value="b" >Setting</option>
      <option   value="c" >LogOut</option>
    </select>
    <!-- style="background-color: coral;" -->
  </div>

</div>