<div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-12 ml-sm-auto col-lg-12">
          <!-- <div class="row mt-1" style="background-color: brown;width: 109%;color: cornsilk; height: 40px;">
              <div class="col-md-2 col-lg-4 col-sm-4 " id="next">
                  <div class="col"> <p class="text-left mt-3" style="color: cornsilk; font-size: large; font-style: inherit;">{{today | date:'MMM d, y'}} </p></div>
              </div>        
            <div class="col-md-4 col-lg-4 col-sm-4 mt-1">
              <h3 style="margin-left: 77px;">Profile</h3>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-4 mt-1" >
              <h5 class="label bold d-inline-block" style="margin-left: 190px;">{{userName}} {{phoneDisp}} </h5>
            </div>
          </div>
          <div class="row" style="background-color: brown ; color: cornsilk;width: 109%;">
      
              <div class="col-md-12 col-lg-4 col-sm-4" style="margin-left: 1080px;">
                <h4> ({{role}})</h4>
              </div>
            </div> -->
        <div class="px-4">
          <form   (ngSubmit)="formSubmit()">
            <div class="row ">
              <div class="col-md-12 text-md-right" *ngIf="!isEdit">
                <!-- <button class="btn btn-link" id="edit-profile" (click)="isEdit = true;">
                  <i class="fa fa-pencil mr-2"></i>Edit
                </button> -->
              </div>
            </div>
            <div class="data" *ngIf="!isEdit">
              <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top">User Details</h6>
  
              <div class="row">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>FirstName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " disabled id="first-name"
                  [value]="loggedInUserDetails.user.firstName" >
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>LastName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="last-name" class="form-control input-border " disabled 
                  [value]="loggedInUserDetails.user.lastName" id="last-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>PhoneNo:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="phoneNo" class="form-control input-border " disabled 
                  [value]="loggedInUserDetails.user.phoneNumber" id="phoneNo">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>Email:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="email" class="form-control input-border " disabled 
                  [value]="loggedInUserDetails.user.email" id="email">
                </div>
              </div>
  
  
              <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-to mt-4">Home Address</h6>
              <div class="data ">
                <div class="row">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>Address:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled  
                    [value]="loggedInUserDetails.permanentDetail.address" id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>City:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled 
                    [value]="loggedInUserDetails.permanentDetail.city" id="first-name">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>PinCode:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled 
                    [value]="loggedInUserDetails.permanentDetail.pin" id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>State:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled 
                    [value]="loggedInUserDetails.permanentDetail.state" id="first-name">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>AddressType:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="loggedInUserDetails.permanentDetail.addressType" id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>ShopName:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="loggedInUserDetails.permanentDetail.shopName" id="first-name">
                  </div>
                </div>
              </div>
              <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4" *ngIf="loggedInUserDetails.address != null">Current Address</h6>
              <div class="data" *ngIf="loggedInUserDetails.address != null">
                <div class="row">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>Address:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled 
                    [value]="loggedInUserDetails.permanentDetail.address"
                     id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>City:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                     [value]="loggedInUserDetails.permanentDetail.city" 
                    id="first-name">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>PinCode:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="loggedInUserDetails.permanentDetail.pin"  id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>State:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="loggedInUserDetails.permanentDetail.state"  id="first-name">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>AddressType:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="loggedInUserDetails.permanentDetail.addressType"  id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>ShopName:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="loggedInUserDetails.permanentDetail.shopName" id="first-name">
                  </div>
                </div>
              </div>
              <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4"*ngIf="loggedInUserDetails.bankDetails != null">Bank Details</h6>
  
              <div class="data" *ngIf="loggedInUserDetails.bankDetails != null">
                <div class="row">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>BankName:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled 
                    [value]="loggedInUserDetails.bankDetail.bankName" id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>accountNumber:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="loggedInUserDetails.bankDetail.accountNumber" id="first-name">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>ifscCode:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="loggedInUserDetails.bankDetail.ifscCode" id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>branchName:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="loggedInUserDetails.bankDetail.branchName" id="first-name">
                  </div>
                </div>
              </div>
  
  
              <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4" *ngIf="loggedInUserDetails.kycDetail != null">KYC Details</h6>
  
              <div class="data"  *ngIf="loggedInUserDetails.kycDetail != null">
                <div class="row">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>DocumentName:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="loggedInUserDetails.kycDetail.docName" id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>DocumentNo.:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                    [value]="loggedInUserDetails.kycDetail.docNumber" id="first-name">
                  </div>
                </div>
  
              </div>
            </div>
            <!-- <div class="data" *ngIf="isEdit">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top">User Details</h6>
  
                </div>
              </div>
              <div class="col-md-12 text-md-right" *ngIf="!isEdit">
                <button class="btn btn-link" id="edit-profile" (click)="isEdit = true;">
                  <i class="fa fa-pencil mr-2"></i>Edit
                </button>
              </div>
              <div class="row">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>FirstName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>LastName:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
              </div>
              <div class="row mt-4">
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>PhoneNo:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
                <div class="form-label-group col-md-2">
                  <label for="emp-shopName"><b>Email:-</b></label>
                </div>
                <div class="form-label-group col-md-4">
                  <input type="text" name="first-name" class="form-control input-border " id="first-name">
                </div>
              </div>
  
  
              <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-to mt-4">Home Address</h6>
              <div class="data">
                <div class="row">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>Address:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>City:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>PinCode:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>State:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>AddressType:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>ShopName:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                </div>
                <div class="row mb-2 mt-5" id="action-row">
                    <div class="col-md-9 offset-md-3">
                      <button type="submit" (click)="addClientDetails()" class="btn btn-pill px-4 btn-success">Save Changes</button>
                    </div>
                  </div>
              </div>
              <!-- <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4">Current Address</h6>
              <div class="data">
                <div class="row">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>Address:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>City:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>PinCode:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>State:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>AddressType:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>ShopName:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                </div>
                <div class="row mb-2 mt-5" id="action-row">
                    <div class="col-md-4 offset-md-3">
                      <button type="submit" class="btn btn-pill px-4 btn-success">Save Changes</button>
                    </div>
                  </div>
              </div> -->
              <!-- <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4">Bank Details</h6>
  
              <div class="data">
                <div class="row">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>FirstName:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>LastName:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>PhoneNo:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>Email:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                </div>
                <div class="row mb-2 mt-5" id="action-row">
                    <div class="col-md-4 offset-md-3">
                      <button type="submit" (click)="addBankDetails()" class="btn btn-pill px-4 btn-success">Save Changes</button>
                    </div>
                  </div>
              </div>
  
  
              <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top mt-4">KYC Details</h6>
  
              <div class="data">
                <div class="row">
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>DocumentName:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                  <div class="form-label-group col-md-2">
                    <label for="emp-shopName"><b>DocumentNo.:-</b></label>
                  </div>
                  <div class="form-label-group col-md-4">
                    <input type="text" name="first-name" class="form-control input-border " id="first-name">
                  </div>
                </div>
                <div class="row mb-2 mt-5" id="action-row">
                  <div class="col-md-9 offset-md-3">
                    <a href="#" class="btn btn-pill px-4 btn-outline-danger mr-2" (click)="isEdit = false">Cancel</a>
                    <button type="submit" (click)="addkycDetails()"class="btn btn-pill px-4 btn-success">Save Changes</button>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="row mt-5">
  
            </div>
  
          </form>
        </div>
      </main>
    </div>
  </div>