<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="container-fluid">
  <!-- <div class="row mt-1" style="background-color: brown ; color: cornsilk;width: 107%; height: 40px;">
      <div class="col-md-2 col-lg-4 col-sm-4 " id="next">
          <div class="col"> <p class="text-left mt-3" style="color: cornsilk; font-size: large; font-style: inherit;">{{today | date:'MMM d, y'}} </p></div>
      </div>        
    <div class="col-md-4 col-lg-4 col-sm-4 mt-1">
      <h3 style="margin-left: 119px;"> Wallet</h3>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-4 mt-1" >
      <h5 class="label bold d-inline-block" style="margin-left: 190px;">{{userName}} {{phoneDisp}} </h5>
    </div>


  </div>
  <div class="row" style="background-color: brown ; color: cornsilk;width: 107%;">

    <div class="col-md-12" style="margin-left: 1080px;">
      <h4> ({{role}})</h4>
    </div>
  </div> -->


  <div class="px-4">
    <div>
      <form>
        <div class="row my-5">
          <div class="col-md-12">
            <div class="row ">
              <div class="form-label-group  panel col-md-12">
                <div class="row style">
                  <div class="col-md-3">
                    <a> <img src="assets/icons/wallet .png" style="width:30px " height="30px"> Rs {{Balance.amount}}</a>
                    Is Your Wallet Balance
                  </div>
                  <div class="col-md-6">
                    <!--<input type="text" name="amount" id="amount" class="form-control"-->
                    <!--placeholder="Enter Amount to be Added in Wallet">-->
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-success" (click)="walletModal.show()">Add Money To Wallet
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row " style="margin-bottom: 25px;">
      <!-- <ul class="nav nav-tabs">
        
        <li><a  href="JavaScript:void(0);">Credits</a></li>
        <li><a  href="JavaScript:void(0);">Debits</a></li>
        <li><a  href="JavaScript:void(0);">Bonus Wallet</a></li>
        <li><a  href="JavaScript:void(0);">Bonus Claim</a></li>
        <li><a  href="JavaScript:void(0);">Show Transaction</a></li>
        <li><a  href="JavaScript:void(0);">Show Requested</a></li>
      </ul> -->
      <div class="btn-group style border-bottom" style="height: 61px; margin-left: 130px; border: 1px;">
        <button type="button" *ngIf="navModel.Credit==1" (click)="navbar(1)" class="btn btn-outline-danger"
          (click)="showCredit()" style="width: 150px">Credit
        </button>
        <button type="button" *ngIf="navModel.Credit==2" (click)="navbar(1)" class="btn btn-danger"
          style="width: 150px">Credit
        </button>
        <button type="button" *ngIf="navModel.Debit==1" (click)="navbar(2)" class="btn btn-outline-danger"
          (click)="showDebit()" style="width: 150px">Debits
        </button>
        <button type="button" *ngIf="navModel.Debit==2" (click)="navbar(2)" class="btn btn-danger"
          style="width: 150px">Debits
        </button>
        <button type="button" *ngIf="navModel.BonusWallet==1" (click)="navbar(3)" class="btn btn-outline-danger"
          (click)="walletBonus()" style="width: 150px">Bonus Wallet

        </button>
        <button type="button" *ngIf="navModel.BonusWallet==2" (click)="navbar(3)" class="btn btn-danger"
          style="width: 150px">Bonus Wallet

        </button>
        <button type="button" *ngIf="navModel.BonusClaim==1" (click)="navbar(4)" class="btn btn-outline-danger"
          (click)="claimBonus()" style="width: 150px">Bonus Claim

        </button>
        <button type="button" *ngIf="navModel.BonusClaim==2" (click)="navbar(4)" class="btn btn-danger"
          style="width: 150px">Bonus Claim

        </button>
        <button type="button" *ngIf="navModel.ShowTransaction==1" (click)="navbar(5)" class="btn btn-outline-danger"
          (click)="allTransactionDone()" style="width: 170px">
          Show Transaction
        </button>
        <button type="button" *ngIf="navModel.ShowTransaction==2" (click)="navbar(5)" class="btn btn-danger"
          style="width: 170px">
          Show Transaction
        </button>
        <button type="button" *ngIf="navModel.ShowRequested==1" (click)="navbar(6)" class="btn btn-outline-danger"
          (click)="showRequest()" style="width: 180px">
          Show Requested
        </button>
        <button type="button" *ngIf="navModel.ShowRequested==2" (click)="navbar(6)" class="btn btn-danger"
          style="width: 180px">
          Show Requested
        </button>

      </div>
    </div>
    <div class="allTransactionForm">
      <div class="row">
        <div class="col-12">
          <div class="open-tabs" id="">
            <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
              <div id="team-table" class="table mt-1">
                <form>

                </form>
              </div>
              <table class="table">
                <colgroup>
                  <col width="15%">
                  <col width="15%">
                  <col width="15%">
                  <col width="20%">
                  <col width="15%">
                  <col width="20%">

                </colgroup>
                <thead>
                  <th>Client Name</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Refrence</th>
                  <th>Details</th>
                </thead>
                <tbody>
                  <tr *ngFor="let row of transactionList" class="table-warning">
                    <td>{{row.userName}}</td>
                    <td>{{row.amount}}</td>
                    <td>{{row.transactionDate}}</td>
                    <td>{{row.transactionReference}}</td>
                    <td>{{row.details}}</td>
                  </tr>


                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="creditForm">
      <div class="row">
        <div class="col-12">
          <div class="open-tabs" id="">
            <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
              <div id="team-table" class="table mt-1">
                <form>

                </form>
              </div>
              <table class="table">
                <colgroup>
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">


                </colgroup>
                <thead>
                  <th>Client Name</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Mode</th>

                </thead>
                <tbody *ngIf="this.creditBalance != null">
                  <tr *ngFor="let u of creditBalance">
                    <td class="table-primary">{{u.user.firstName}}</td>
                    <td class="table-info"> {{u.transactionAmount}}</td>
                    <td class="table-warning">{{u.transactionDate}}</td>
                    <td class="table-danger">{{u.transactionMode}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="debitForm">
      <div class="row">
        <div class="col-12">
          <div class="open-tabs" id="">
            <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
              <div id="team-table" class="table mt-1">
                <form>

                </form>
              </div>
              <table class="table">
                <colgroup>
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                </colgroup>
                <thead>
                  <th>Client Name</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Mode</th>

                </thead>
                <tbody *ngIf="this.debitBalance != null">
                  <tr *ngFor="let u of debitBalance">
                    <td class="table-primary">{{u.user.firstName}}</td>
                    <td class="table-info">{{u.transactionAmount}}</td>
                    <td class="table-warning">{{u.transactionDate}}</td>
                    <td class="table-danger">{{u.transactionMode}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bonusWalletForm">
      <div class="row">
        <div class="col-12">
          <div class="open-tabs" id="">
            <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
              <div id="team-table" class="table mt-1">
                <form>

                </form>
              </div>
              <table class="table">
                <colgroup>
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                </colgroup>
                <thead>
                  <th>Client Name</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Mode</th>

                </thead>
                <tbody *ngIf="this.wallletBonusList != null">
                  <tr *ngFor="let u of walletBonusBalance">
                    <td class="table-primary">{{u.user.firstName}}</td>
                    <td class="table-info">{{u.transactionAmount}}</td>
                    <td class="table-warning">{{u.transactionDate}}</td>
                    <td class="table-danger">{{u.transactionType}}</td>
                  </tr>


                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bonusClaimForm ">
      <div class="row">
        <div class="col-12">
          <div class="open-tabs" id="">
            <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
              <div id="team-table" class="table mt-1">
                <form>

                </form>
              </div>
              <table class="table">
                <colgroup>
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                </colgroup>
                <thead>
                  <th>Client Name</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Mode</th>

                </thead>
                <tbody *ngIf="this.claimBonusBalance != null">
                      <tr *ngFor="let u of claimBonusBalance ">
                    <td class="table-primary">{{u.user.firstName}}</td>
                    <td class="table-info">{{u.transactionAmount}}</td>
                    <td class="table-warning">{{u.transactionDate}}</td>
                    <td class="table-danger">{{u.transactionType}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="showRequestedForm">
      <div class="row">
        <div class="col-12">
          <div class="open-tabs" id="">
            <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
              <div id="team-table" class="table mt-1">
                <form>

                </form>
              </div>
              <table class="table">
                <colgroup>
                  <col width="20%">
                  <col width="20%">
                  <col width="20%">
                  <col width="15%">
                  <col width="15%">
                  <col width="10%">


                </colgroup>
                <thead>
                  <th>Client Name</th>
                  <th>Amount</th>
                  <th>Bank</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Approv</th>
                </thead>
                <tbody>
                  <tr *ngIf="balanceEntry.value != null">
                    <td class="table-primary">{{balanceEntry.firstName}}</td>
                    <td class="table-success">{{balanceEntry.amount}}</td>
                    <td class="table-danger">{{balanceEntry.bankName}}</td>
                    <td class="table-warning">{{balanceEntry.createDate}}</td>
                    <td class="table-primary">{{balanceEntry.status}}</td>
                    <td class="table-info"><button class="btn btn-primary"
                        (click)="approv(balanceEntry.id)">Approv</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container" style="width: 50%">
  <app-wallet-modal #walletModal>


    <div class='app-wallet-modal-body'>
      <div class="modal-header" style="background-color: #F7D488;">
        <h5 class="modal-title" style="color:#dc3545; text-align: center">Add Money Wallet</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="walletModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7">
            <input type="text" name="amount" id="amount" class="form-control"
              placeholder="Enter Amount to be Added in Wallet" [(ngModel)]="amount">
          </div>
          <!--<div class="col-md-5 text-right">-->
          <!--<a> <img src="assets/icons/wallet .png" style="width:30px " height="30px"> Rs 45 Amount To Be Added</a>-->

          <!--</div>-->
          <form class="form-group col-12">
            <h3 style="color:#282a3c; margin-top: 20px">Select Mode Of Payment</h3>
            <label>Cash</label>
            <!-- <div class="row">
              <div class="col-md-4">
                <input type="radio" name="cash" [value]="true" [(ngModel)]="options" [checked]="options"> Cash<br>
              </div>

              <div class="col-md-4">
                <input type="radio" name="card" value="other" [value]="false" [(ngModel)]="options" [checked]="options">
                Credit/Debit
              </div>
            </div> -->
            <div class="row comment" *ngIf="options">
              <div class="col-md-5">

                <input type="text" name="amount" id="name" class="form-control" placeholder="Name of Payee">
              </div>
              <div class="col-md-5">
                <input type="number" name="amount" id="phoneNo" class="form-control" placeholder="Phone No.">
              </div>
            </div>
            <div class="row comment" *ngIf="options">
              <div class="col-md-10">
                <input type="text" name="amount" id="comment" class="form-control" placeholder="Any Comment ?"
                  style=" height:85px">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer" style="background-color: #F7D488;">
        <button type="button" class="btn btn-danger" (click)="addMoney()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="walletModal.hide()">Close</button>
      </div>
    </div>
  </app-wallet-modal>


  <app-wallet-modal #otpModal>


    <div class='app-wallet-modal-body'>
      <div class="modal-header" style="background-color: #F7D488;">
        <h5 class="modal-title" style="color:#dc3545; text-align: center">Verify OTP</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="otpModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="wrapper">
          <div id="dialog">
            <div id="form">
              <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
              <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input type="text"
                maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input type="text" maxLength="1" size="1"
                min="0" max="9" pattern="[0-9]{1}" />
              <button class="btn btn-primary btn-embossed">Verify</button>
            </div>

            <div>
              Didn't receive the code?<br />
              <a href="javascript.void(0)">Send code again</a><br />
            </div>
          </div>
        </div>
      </div>

    </div>
  </app-wallet-modal>

</div>