<div class="container-fluid">
    <!-- <div class="row mt-1" style="background-color: brown;width: 109%;color: cornsilk; height: 40px;">
        <div class="col-md-2 col-lg-4 col-sm-4 " id="next">
            <div class="col"> <p class="text-left mt-3" style="color: cornsilk; font-size: large; font-style: inherit;">{{today | date:'MMM d, y'}} </p></div>
        </div>        
      <div class="col-md-4 col-lg-4 col-sm-4 mt-1">
        <h3 style="margin-left: 77px;">Setting</h3>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-4 mt-1" >
        <h5 class="label bold d-inline-block" style="margin-left: 190px;">{{userName}} {{phoneDisp}} </h5>
      </div>
    </div>
    <div class="row" style="background-color: brown ; color: cornsilk;width: 109%;">

        <div class="col-md-12 col-lg-4 col-sm-4" style="margin-left: 1080px;">
          <h4> ({{role}})</h4>
        </div>
      </div> -->
  <div class="row" style="margin-top: -70px;">
    <div class="btn-group style justify-content-center" style="margin-left: 428px;">
      <button type="button" *ngIf="navModel.claim==1" class="btn btn-outline-danger" (click)="navbar(2)"
        (click)="openClaim()" style="width: 150px">Bonus
      </button>
      <button type="button" *ngIf="navModel.claim==2" class="btn btn-danger" (click)="navbar(2)"
        style="width: 150px">Bonus
      </button>
      <button type="button" *ngIf="navModel.setting==1" class="btn btn-outline-danger" (click)="navbar(1)"
        (click)="openPassword()" style="width: 200px">
        Change-Password
      </button>
      <button type="button" *ngIf="navModel.setting==2" class="btn btn-danger" (click)="navbar(1)" style="width: 200px">
        Change-Password
      </button>
    </div>
  </div>
  <div class="password-Form">
    <section id="login" class="d-flex justify-content-center">
      <div class="panel-login" style="width: 366px;height: 469px;">
        <div class="login-form" style="background-color: blanchedalmond;">
          <h4 class="my-4 mb-4 text-gray page-heading" style="margin-left: 25%; padding-top: 20px;">Change Password</h4>
          <form>
            <label for="email" style="padding-left: 20px;">Old Password*</label>
            <div class="form-label-group" style="padding-left: 20px;    width: 330px;">
              <input type="text" name="emp-shopName" id="emp-shopName" class="form-control" placeholder="Old -Password"
                [(ngModel)]="passwordModel.securityStamp">
            </div>
            <label for="password" style="padding-left: 20px;">New Password*</label>
            <div class="form-label-group" style="padding-left: 20px;    width: 330px;">
              <input type="text" name="emp-phoneNumber" id="emp-address" class="form-control" placeholder="New-Password"
                [(ngModel)]="passwordModel.passwordHash">
            </div>
            <label for="password" style="padding-left: 20px;">ReType Password*</label>
            <div class="form-label-group" style="padding-left: 20px;    width: 330px;">
              <input type="text" name="emp-phoneNumber" id="emp-city" class="form-control"
                placeholder="Re-Type Password" [(ngModel)]="passwordModel.confirm">
            </div>

            <div class="text-center" style="padding-top: 30px;padding-bottom: 30px;">
              <button class="btn btn-pill px-4 btn-success" (click)=changePwd()>Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
  <div class="newScreen-Form hide">
    <div class="row" style="    margin-top: -77px;margin-left: 58px;">
      <div class="btn-group style justify-content-center">
        <button type="button" *ngIf="newModel.claimBouns==1" class="btn btn-outline-danger" (click)="newbar(2)"
          (click)="claimBonus()" style="width: 180px">Claim </button>
        <button type="button" *ngIf="newModel.claimBouns==2" class="btn btn-danger" (click)="newbar(2)"
          style="width: 180px">Claim
        </button>
        <button type="button" *ngIf="newModel.walletBonus==1" class="btn btn-outline-danger" (click)="newbar(1)"
          (click)="walletBonus()" style="width: 180px">
          Wallet
        </button>
        <button type="button" *ngIf="newModel.walletBonus==2" class="btn btn-danger" (click)="newbar(1)"
          style="width: 180px">
          Wallet
        </button>

      </div>
    </div>

  </div>

  <div class="claim-Form hide">
    <div class="claimBonus-Form">
      <section id="login" class="d-flex justify-content-center" style="margin-top: -24px;">
        <div class="panel-login" style="width: 366px;height: 469px;">
          <div class="login-form" style="background-color: blanchedalmond;">

            <h4 class="my-4 mb-4 text-gray page-heading" style="margin-left: 28%; padding-top: 20px;">Claim Bonus
            </h4>
            <form>
              <table class="table mt-2">
                <colgroup>
                  <col width="50%">
                  <col width="50%">
                </colgroup>
                <thead>
                  <th class="table-warning">Role</th>
                  <th class="table-warning">% of Bonus</th>
                  <th class="table-warning"> Update</th>
                </thead>
                <tbody>
                   <!-- <ng-container *ngFor="let amount of commission"> -->
                   <tr *ngFor="let u of commissionClaimList">

                    <td class="table-primary">{{u.role.name}}</td>
                    <td class="table-info"><input type="text" name="first-name" class="form-control input-border "
                        (change)=onChange($event) [value]="u.commisionAmount"></td>
                    <td class="table-danger"><button type="button" class="btn btn-danger"
                        (click)="saveClaimBonus(u.role.id,u.id)">
                        Save
                      </button></td>

                  </tr>
                   <!-- </ng-container>  -->
                </tbody>
              </table>

            </form>
          </div>
        </div>
      </section>
    </div>
    <div class="walletBonus-Form  hide">
      <section id="login" class="d-flex justify-content-center" style="margin-top: -24px;">
        <div class="panel-login" style="width: 366px;height: 469px;">
          <div class="login-form" style="background-color: blanchedalmond;">
            <h4 class="my-4 mb-4 text-gray page-heading" style="margin-left: 28%; padding-top: 20px;">Wallet Bonus
            </h4>
            <form>
              <table class="table mt-2">
                <colgroup>
                  <col width="50%">
                  <col width="50%">
                </colgroup>
                <thead>
                  <th class="table-warning">Role</th>
                  <th class="table-warning">% of Bonus</th>
                  <th class="table-warning"> Update</th>
                </thead>
                <tbody >
                  <tr *ngFor="let u of commissionWalletList">
                    <td class="table-primary">{{u.role.name}}</td>
                    <td class="table-info"><input type="text" name="first-name" class="form-control input-border "
                        (change)=onChange1($event) [value]="u.commisionAmount"></td>
                    <td class="table-danger"><button type="button" class="btn btn-danger"
                        (click)="saveWalletBonus(u.role.id,u.id)">
                        Save
                      </button></td>
                  </tr>
                </tbody>
              </table>

            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>



