<div class="container-fluid">
    <!-- <div class="row mt-1" style="background-color: brown ; color: cornsilk;width: 107%; height: 40px;">
        <div class="col-md-4 mt-1">
            <h2 style="margin-left: 500px;">Details</h2>
          </div>
        <div class="col-md-8 mt-1">
          <h5 class="label bold d-inline-block"style="margin-left: 610px;">{{userName}} {{phoneDisp}} </h5>
        </div>
      
        
      </div>
      <div class="row" style="background-color: brown ; color: cornsilk;width: 107%;">
          
          <div class="col-md-12" style="margin-left: 1080px;">      
             <h4> ({{role}})</h4>
          </div>
        </div> -->
</div>
<div class="address-form">
  <div class="px-4">
    <form [formGroup]="clientDetailsForm" (ngSubmit)="addClientDetails()">
      <!--Address Details-->
      <div class="row my-5">
        <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top">Address Details</h6>
        <div class="col-md-12">
          <div class="row">
            <div class="form-label-group col-md-6">
              <label for="emp-shopName">Shop Name</label>
              <input type="text" name="emp-shopName" id="emp-shopName" class="form-control" formControlName="shopName"
                placeholder="Shop Name">
            </div>
            <div class="form-label-group col-md-6">
              <label for="emp-address">Address</label>
              <input type="text" name="emp-phoneNumber" id="emp-address" class="form-control" formControlName="address"
                placeholder="Address">
            </div>
            <div class="form-label-group col-md-6">
              <label for="emp-city">City</label>
              <input type="text" name="emp-phoneNumber" id="emp-city" class="form-control" formControlName="city"
                placeholder="City">
            </div>
            <div class="form-label-group col-md-6">
              <label for="emp-state">State</label>
              <input type="text" name="emp-phoneNumber" id="emp-state" class="form-control" formControlName="state"
                placeholder="State">
            </div>
            <div class="form-label-group col-md-6">
              <label for="emp-pincode">Pin Code</label>
              <input type="text" name="emp-phoneNumber" id="emp-pincode" class="form-control" formControlName="pin"
                placeholder="PinCode">
            </div>
            <div class="form-label-group col-md-6">
              <label for="emp-addresstype">Address Type</label>
              <select id="emp-addresstype" class="form-control select2" formControlName="addressType">
                <option>Permanent</option>
                <option>Current</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<!--Bank Details-->
<div class="bank-form hide">
  <div class="px-4">

    <form [formGroup]="bankDetailsForm" (ngSubmit)="addBankDetails()">
      <div class="row">
        <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top">Bank Details</h6>

        <div class="col-md-12">
          <div class="row">
            <div class="form-label-group col-md-6">
              <label for="emp-bankName">Bank Name</label>
              <input type="text" name="emp-bankName" id="emp-bankName" class="form-control" formControlName="bankName"
                placeholder="Bank Name">
            </div>
            <div class="form-label-group col-md-6">
              <label for="emp-accountNumber">Account Number</label>
              <input type="text" name="emp-accountNumber" id="emp-accountNumber" class="form-control"
                formControlName="accountNumber" placeholder="Account Number">
            </div>
            <div class="form-label-group col-md-6">
              <label for="emp-ifscCode">IFSC Code</label>
              <input type="text" name="emp-ifscCode" id="emp-ifscCode" class="form-control" formControlName="ifscCode"
                placeholder="IFSC Code">
            </div>
            <div class="form-label-group col-md-6">
              <label for="emp-branchName">Branch Name</label>
              <input type="text" name="emp-branchName" id="emp-branchName" class="form-control"
                formControlName="branchName" placeholder="Branch Name">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<!--KYC Details-->
<div class="kyc-form hide">
  <div class="px-4">

    <form [formGroup]="kycDetailsForm" (ngSubmit)="addKycDetails()">
      <div class="row mt-2">
        <h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top">KYC Details</h6>
        <div class="col-md-12">
          <div class="row">
            <div class="form-label-group col-md-6">
              <label for="emp-docType">Id Type</label>
              <select id="emp-docType" class="form-control select2" formControlName="docName">
                <option>Aadhar Card</option>
                <option>Pan Card</option>
                <option>Passport</option>
                <option>Voter Id</option>
              </select>
            </div>
            <div class="form-label-group col-md-6">
              <label for="emp-docnumber">Document Number</label>
              <input type="text" name="emp-docnumber" id="emp-docnumber" class="form-control"
                formControlName="docNumber" placeholder="Document Number">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>