<div class="container-fluid">
    <!-- <div class="row mt-1" style="background-color: brown ; color: cornsilk;width: 107%; height: 40px;">
        <div class="col-md-7 mt-1">
            <h4 style="margin-left: 500px;">Add Client</h4>
          </div>
        <div class="col-md-5 mt-1">
          <h5 class="label bold d-inline-block"style="margin-left: 300px;">{{userName}} {{phoneDisp}} </h5>
        </div>
      
        
      </div>
      <div class="row" style="background-color: brown ; color: cornsilk;width: 107%;">
          
          <div class="col-md-12" style="margin-left: 1080px;">      
             <h4> ({{role}})</h4>
          </div>
        </div> -->
</div>

<div class="px-4">
  <form [formGroup]="addClientForm" >
    <!--Address Details-->
    <div class="row my-5">
      <!--<h6 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top">Address Details</h6>-->
      <div class="col-md-12">
        <div class="row">
          <div class="form-label-group col-md-6">
            <label for="emp-shopName">FirstName</label>
            <input type="text" name="emp-shopName" id="emp-shopName" class="form-control" formControlName="firstName"
                   placeholder="FirstName">
          </div>
          <div class="form-label-group col-md-6">
            <label for="emp-address">LastName</label>
            <input type="text" name="emp-phoneNumber" id="emp-address" class="form-control" formControlName="lastName"
                   placeholder="LastName">
          </div>
          <div class="form-label-group col-md-6">
            <label for="emp-city">Email</label>
            <input type="text" name="emp-phoneNumber" id="emp-city" class="form-control" formControlName="email"
                   placeholder="Email">
          </div>
          <div class="form-label-group col-md-6">
            <label for="emp-state">Phone Number</label>
            <input type="text" name="emp-phoneNumber" id="emp-state" class="form-control" formControlName="phoneNumber"
                   placeholder="Phone Number">
          </div>
          <div class="form-label-group col-md-6 mt-2">
              <label for="emp-state">Role</label>
              <select id="table-number" class="form-control select2" [(ngModel)]="roleModel.id" [ngModelOptions]="{standalone: true}" (change)= "onChange($event)"> 
                  <option  *ngFor="let c of roleList" [value]="c.value">{{c.role}}</option>
                  
                 
                </select>
              </div>
          <!-- <div class="form-label-group col-md-6" *ngFor="let r of role">
            <label for="emp-pincode">Role</label>
             <ngx-select [items]="r.name" class="form-control-select w-100" optionValueField="primaryKey"
                        optionTextField="roleName" placeholder="Select Role" formControlName="role">
            </ngx-select>

          </div> -->
         
         </div>
      </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 col-lg-4 col-sm-4" >
            <button class="btn btn-success" type="submit" (click)="addClient()" style="margin-left: 460px;">Submit</button>
          </div>
          <div class="col-md-5 col-lg-4 col-sm-4" style="margin-left: 200px;">
              <button class="btn btn-danger"  [routerLink]="['/distributor/view-client']">Cancle</button>
            </div>
    </div>
  
  </form>
</div>
