<div id="pg-login">
  <section id="login" class="d-flex justify-content-center">
    <div class="container-fluid">
      <!-- <div class="row mt-1" style="background-color: brown ; color: cornsilk;width: 107%; height: 40px;">
        <div class="col-md-4 mt-1">
          <h2 style="margin-left: 500px;">Claim</h2>
        </div>
        <div class="col-md-8 mt-1">
          <h5 class="label bold d-inline-block" style="margin-left: 610px;">{{userName}} {{phoneDisp}} </h5>
        </div>


      </div>
      <div class="row" style="background-color: brown ; color: cornsilk;width: 107%;">

        <div class="col-md-12" style="margin-left: 1080px;">
          <h4> ({{role}})</h4>
        </div>
      </div> -->
      <div class="row" style="margin-left: 30px;">
        <div class="btn-group style">
          <button type="button" *ngIf="navModel.claim==1" class="btn btn-outline-danger" (click)="openCliamForm()"
            (click)="navbar(2)" style="width: 150px">Claim
          </button>
          <button type="button" *ngIf="navModel.claim==2" class="btn btn-danger" (click)="openCliamForm()"
            (click)="navbar(2)" style="width: 150px">Claim
          </button>
          <button type="button" *ngIf="navModel.transcation==1" class="btn btn-outline-danger"
            (click)="openTransactionForm()" (click)="navbar(1)" style="width: 150px">
            Transaction
          </button>
          <button type="button" *ngIf="navModel.transcation==2" class="btn btn-danger" (click)="openTransactionForm()"
            (click)="navbar(1)" style="width: 150px">
            Transaction
          </button>
          <button type="button" *ngIf="navModel.dispatch==1" class="btn btn-outline-danger"
            (click)="openDispatchedForm()" (click)="navbar(3)" style="width: 180px">
            Dispatched
          </button>
          <button type="button" *ngIf="navModel.dispatch==2 " class="btn btn-danger" (click)="openDispatchedForm()"
            (click)="navbar(3)" style="width: 180px">
            Dispatched
          </button>
          <button type="button" *ngIf="navModel.requested==1" class="btn btn-outline-danger"
            (click)="openRequestedForm()" (click)="navbar(4)" style="width: 180px">
            Requested
          </button>
          <button type="button" *ngIf="navModel.requested==2 " class="btn btn-danger" (click)="openRequestedForm()"
            (click)="navbar(4)" style="width: 180px">
            Requested
          </button>

        </div>
      </div>

      <!--// Claim Design //-->
      <div class="claim-Form">
        <form #myForm="ngForm">
          <div class="row">
            <!-- <div class="col-sm-5 md-5 lg-5 xl-5">
              <div class="form-group">
                <label for="mobile" style="margin-top:43px;margin-left:20px">Mobile Number:</label>
                <input type="text" [(ngModel)]='mobile' name="mobile" id="mobile" class="form-control"
                       placeholder="Enter Mobile Number" #mb>
              </div>
            </div> -->
            <div class="col-sm-5 md-5 lg-5 xl-5">
              <div class="form-group">
                <label for="ticket" style="margin-top:43px;margin-left:20px">Ticket Number:</label>
                <input type="text" name="ticket" [(ngModel)]="ticket" [ngModelOptions]="{standalone: true}" id="ticket"
                  class="form-control" placeholder="Enter Ticket Number" aria-describedby="helpId">
              </div>
            </div>
            <div class="col-sm-2 md-2 lg-2 xl-2" style="margin-top: 77px">
              <button type="submit" (click)="getdetails();" class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>


        <ng-container>
          <ng-container>
            <!-- *ngIf="(u.mobile == tempMobile || u.ticket == tempTicket) && u.status=='Requested'" -->
            <!--<div [hidden]="property" class="alert alert-success alert-dismissible">-->
            <!--<button type="button" class="close" (click)="divHide()" data-dismiss="alert" >&times;</button>-->
            <!--<strong>Congrulation!!</strong> You win the lottery!!!.-->
            <!--</div>-->
            <table class="table hide ">
              <colgroup>
                <col width="10%">
                <col width="15%">
                <col width="10%">
                <col width="20%">
                <col width="20%">
                <col width="25%">


              </colgroup>
              <thead>
                <th>TicketID</th>
                <th>SlotTime</th>
                <th>Total Price</th>
                <th>Booking Date</th>
                <th>Winning Price</th>
                <th>Claim</th>

              </thead>
              <tbody>

                <tr>
                  <td class="table-primary">{{bookingDetails.id }}</td>
                  <td class="table-success">{{bookingDetails.startTime}}</td>
                  <td class="table-danger">{{bookingDetails.totalPrice}}</td>
                  <td class="table-warning">{{bookingDetails.bookingDate}}</td>
                  <td class="table-primary"></td>
                  <td class="table-info" *ngIf="this.bookingDetails.status== 5"><button class="btn btn-primary"
                      (click)="modal1.show()">Claim</button>
                    <button class="btn btn-warning" (click)="modal4.show()" style="margin-left: 10px;">Farword
                      Claim</button></td>
                  <td class="table-info" *ngIf="this.bookingDetails.status != 5">Requested</td>
                </tr>

              </tbody>
            </table>
          </ng-container>
        </ng-container>
      </div>


      <!--//  Transaction Design //-->

      <div class="transaction-Form hide">

        <ng-container>
          <ng-container>
            <table class="table mt-5">
              <colgroup>
                <col width="10%">
                <col width="15%">
                <col width="10%">
                <col width="20%">
                <col width="20%">
                <col width="25%">


              </colgroup>
              <thead>
                  <th>TicketID</th>
                  <th>Name</th>
                  <th>SlotTime</th>
                  <th>Total Price</th>
                  <th>Booking Date</th>
                  <th>Claim</th>

              </thead>
              <tbody>

                <tr *ngFor="let u of transList">
                    <td class="table-primary">{{u.claim.bookingDetail.id }}</td>
                    <td class="table-info">{{u.requestBy.firstName }}</td>
                    <td class="table-success">{{u.claim.bookingDetail.slot.startTime}}</td>
                    <td class="table-danger">{{u.claim.bookingDetail.totalPrice}}</td>
                    <td class="table-warning">{{u.claim.bookingDetail.bookingDate}}</td>
                    <td class="table-primary">{{u.status.name}}</td>

                </tr>

              </tbody>
            </table>
          </ng-container>
        </ng-container>
      </div>

      <!--// Dispatched Design //-->

      <div class="dispatched-Form hide">

        <ng-container>
          <ng-container>

            <table class="table mt-5">
              <colgroup>
                <col width="10%">
                <col width="15%">
                <col width="10%">
                <col width="20%">
                <col width="20%">
                <col width="15%">
                <col width="10%">


              </colgroup>
              <thead>
                  
                  <th>TicketID</th>
                  <th>Name</th>
                  <!-- <th>SlotTime</th> -->
                  <th>Total Price</th>
                  <th>Booking Date</th>
                  <th>Claim</th>
                  <th>Settle-Down</th>
              </thead>
              <tbody *ngIf= "this.newList != null">

                <tr *ngFor="let u of newList">

                    <td class="table-primary">{{u.bookingDetail.id}}</td>
                    <td class="table-info">{{u.requestBy.firstName }}</td>
                    <!-- <td class="table-success">{{u.bookingDetail.slot.startTime}}</td> -->
                    <td class="table-danger">{{u.bookingDetail.totalPrice}}</td>
                    <td class="table-warning">{{u.bookingDetail.bookingDate}}</td>
                    <td class="table-primary">{{u.status.name}}</td>
                    <td class="table-info"><button class="btn btn-primary"
                      (click)="modal1.show()">Claim</button></td>
                </tr>

              </tbody>
            </table>
          </ng-container>
        </ng-container>
      </div>
      <!--//Requested Design-->
      <div class="requested-Form hide">

        <ng-container>
          <ng-container>
            <table class="table mt-5">
              <colgroup>
                <col width="10%">
                <col width="15%">
                <col width="10%">
                <col width="20%">
                <col width="20%">
                <col width="25%">


              </colgroup>
              <thead>
                  <th>TicketID</th>
                  <th>Name</th>
                  <!-- <th>SlotTime</th> -->
                  <th>Total Price</th>
                  <th>Booking Date</th>
                  <th>Claim</th>

              </thead>
              <tbody *ngIf= "this.requestList != null">

                  <tr *ngFor= "let u of requestList">
                      <td class="table-primary">{{u.bookingDetail.id}}</td>
                      <td class="table-info">{{u.requestBy.firstName }}</td>
                      <!-- <td class="table-success">{{u.bookingDetail.slot.startTime}}</td> -->
                      <td class="table-danger">{{u.bookingDetail.totalPrice}}</td>
                      <td class="table-warning">{{u.bookingDetail.bookingDate}}</td>
                      <td class="table-primary">{{u.status.name}}</td>
                  </tr>

              </tbody>
            </table>
          </ng-container>
        </ng-container>
      </div>

    </div>
  </section>
</div>
<!--=========================== Modal 1 Start ==========================================-->
<app-modal #modal1>
  <div class='app-modal-body'>
    <div class="modal-header" style="background-color: #F7D488;">
      <h5 class="modal-title" style="color:#dc3545; text-align: center">Self Claim Details</h5>
      <button type="button" class="close" data-dismiss="modal" (click)="modal1.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Sattelment Type</h3>
      <div>
        <form #myForm="ngForm" (submit)="myForm.reset()" class="col-12">
          <div class="form-group">

            <label class="self">By Self</label>

          </div>
        </form>

        <form class="form-group col-12">
          <div>
            <h3>Payment Method</h3>
            <!-- <label class="radio-inline m-4 "><input type="radio" name="optradio" checked>NEFT</label>
            <label class="radio-inline m-4"><input type="radio" name="optradio">RTGS</label>
            <label class="radio-inline m-4"><input type="radio" name="optradio">VPA</label> -->
            <label class="radio-inline m-4"><input type="radio" name="optradio">Cash</label><br>

            <input type="text" name="amount" value="{{mprice}}" style="background-color: lightgray" disabled
              value={{bookingDetails.totalPrice}}>
            <input class="ml-1" type="text" name="comment" style="background-color: lightgray" placeholder="Comments">
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer" style="background-color: #F7D488;">
      <button type="button" class="btn btn-danger" (click)="selfClaim(bookingDetails.id)">Save</button>
      <button type="button" class="btn btn-secondary" (click)="modal1.hide()">Close</button>
    </div>
  </div>
</app-modal>


<!--=========================== Modal 2 Start ==========================================-->

<app-modal #modal2>
  <div class='app-modal-body'>
    <div class="modal-header" style="background-color: #F7D488;">
      <h5 class="modal-title" style="color:#dc3545; text-align: center">Distributor</h5>
      <button type="button" class="close" data-dismiss="modal" (click)="modal2.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <!-- <form class="form-group col-12">
              <div>
              <h3 style="color:bisque;">Sattelment Type</h3>
              <label class="radio-inline m-4 " style="color:bisque;"><input type="radio" name="optradio" checked>By Self</label>
              <label class="radio-inline m-4"  style="color:bisque;"><input type="radio"  name="optradio">By Distributor</label>
            </div>
          </form> -->
        <form class="form-group col-12">
          <h3 style="color:bisque;">Payment</h3>
          <div class="row">

            <!-- <label class="radio-inline m-4 " style="color:bisque;"><input type="radio" name="optradio" checked>NEFT</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">RTGS</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">VPA</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">Cash</label>-->
            <div class="form-group col-md-4">
              <label for="ammount" style="color: lightgrey"><b>Amount:</b></label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" value="{{mprice}}" style="background-color: lightgray"
                  placeholder="Amount">
              </div>

              <!-- <label for="ammount" style="color: lightgrey"><b>Amount:</b></label>
              <input type="text" class="form-control" name="amount" value="{{mprice}}" style="background-color: lightgray" disabled>
             -->
            </div>
            <div class="form-group col-md-4">
              <label for="contact" style="color: lightgrey"><b>Contact Number:</b></label>
              <input class="form-control" type="text" name="contact" style="background-color: lightgray"
                placeholder="Contact Number">
            </div>
            <div class="form-group col-md-4">
              <label for="comments" style="color: lightgrey"><b>Comment:</b></label>
              <input class="form-control" type="text" name="comments" style="background-color: lightgray"
                placeholder="Comments">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer" style="background-color: #F7D488;">
      <button type="button" class="btn btn-danger">Save</button>
      <button type="button" class="btn btn-secondary" (click)="modal2.hide()">Close</button>
    </div>
  </div>
</app-modal>
<!--=========================== Modal 3 End ==========================================-->

<app-modal #modal3>
  <div class='app-modal-body'>
    <div class="modal-header" style="background-color: #F7D488;">
      <h5 class="modal-title" style="color:#dc3545; text-align: center">Settlement Claim</h5>
      <button type="button" class="close" data-dismiss="modal" (click)="modal2.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <!-- <form class="form-group col-12">
              <div>
              <h3 style="color:bisque;">Sattelment Type</h3>
              <label class="radio-inline m-4 " style="color:bisque;"><input type="radio" name="optradio" checked>By Self</label>
              <label class="radio-inline m-4"  style="color:bisque;"><input type="radio"  name="optradio">By Distributor</label>
            </div>
          </form> -->
        <form class="form-group col-12">
          <h3 style="color:bisque;">Settlement</h3>
          <div class="row">

            <!-- <label class="radio-inline m-4 " style="color:bisque;"><input type="radio" name="optradio" checked>NEFT</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">RTGS</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">VPA</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">Cash</label>-->



            <div class="form-group col-md-4">
              <label for="contact" style="color: lightgrey"><b>Enter OTP:</b></label>
              <input class="form-control" type="text" name="contact" style="background-color: lightgray"
                placeholder="OTP">
            </div>

          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer" style="background-color: #F7D488;">
      <button type="button" class="btn btn-danger">Save</button>
      <button type="button" class="btn btn-secondary" (click)="modal3.hide()">Close</button>
    </div>
  </div>
</app-modal>


<!--=========================== Modal 4 End ==========================================-->
<app-modal #modal4>
  <div class='app-modal-body'>
    <div class="modal-header" style="background-color: #F7D488;">
      <h5 class="modal-title" style="color:#dc3545; text-align: center">Farword Claim Details</h5>
      <button type="button" class="close" data-dismiss="modal" (click)="modal4.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Sattelment Type</h3>
      <div>
        <form #myForm="ngForm" (submit)="myForm.reset()" class="col-12">
          <div class="form-group">
            <label class="m-4" (click)="modal2.show();modal1.hide();">
              By Distributor</label>

          </div>
        </form>

        <form class="form-group col-12">
          <div>
            <h3>Payment Method</h3>
            <!-- <label class="radio-inline m-4 "><input type="radio" name="optradio" checked>NEFT</label>
            <label class="radio-inline m-4"><input type="radio" name="optradio">RTGS</label>
            <label class="radio-inline m-4"><input type="radio" name="optradio">VPA</label> -->
            <label class="radio-inline m-4"><input type="radio" name="optradio">Cash</label><br>

            <input type="text" name="amount" value="{{mprice}}" style="background-color: lightgray" disabled
              value={{bookingDetails.totalPrice}}>
            <input class="ml-1" type="text" name="comment" style="background-color: lightgray" placeholder="Comments">
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer" style="background-color: #F7D488;">
      <button type="button" class="btn btn-danger" (click)="farwordClaim(bookingDetails.id)"
        (click)="refresh()">Save</button>
      <button type="button" class="btn btn-secondary" (click)="modal4.hide()">Close</button>
    </div>
  </div>
</app-modal>