#pg-login #login {
  /*height: 100vh;*/
  //background: url(../../../assets/images/back.jpg) center / cover no-repeat;

}
.style{
  text-align: center;
  margin-top: 20px;
  margin-left: 300px;
}
.error{
  color: #ff9999;
  font-size: 13px;
  position: relative;
  bottom: 10px;
  margin-bottom: -14px;
}
label{
  color:#3e16ba;
  font-weight: bold;
}
#pg-login #login .panel-login {
  background: #fff;
  z-index: 1;
  padding: 20px;
  border-radius: 0 20px 20px 20px;
  -webkit-box-shadow: 0px 5px 10px -5px #f99;
  box-shadow: 0px 5px 10px -5px #f99;
  width: 88%;
  position: fixed;
  left: 23%;
  margin-left: -200px;
  height: 490px;
  margin-top: -275px;
  top: 55%;
}
#pg-login #login .panel-login button[type="submit"] img {
  width: 35px;
  display: block;
  position: relative;
  bottom: 4px;
}
.form-control{margin-bottom: 20px;}
.hide{
  display: none;
}
input.ng-invalid.ng-touched{
  border-color: #dc3545;
}
/* pan.invalid-feedback {
  position: relative;
  top: -8px;
  font-size: -3px;
} */
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 93%;
  color: #dc3545;
  position: relative;
  bottom: 5px;
}
