// #pg-login #login {
//   /*height: 100vh;*/
//   background-image: url("../../../assets/images/lottery-background.jpg") center / cover no-repeat;

// }

.error{
  color: #ff9999;
  font-size: 13px;
  position: relative;
  bottom: 10px;
  margin-bottom: -14px;
}
label{
  color:#933430;
  font-weight: bold;
}
#pg-login #login .panel-login {
  background: rgb(255, 255, 255);
  z-index: 1;
  // padding: 20px;
  border-radius: 0 20px 20px 20px;
  -webkit-box-shadow: 0px 5px 10px -5px #f99;
  box-shadow: 0px 5px 10px -5px #f99;
}
#pg-login #login .panel-login button[type="submit"] img {
  width: 35px;
  display: block;
  position: relative;
  bottom: 4px;
}
.form-control{margin-bottom: 2px;}
.hide{
  display: none;
}
input.ng-invalid.ng-touched{
  border-color: #dc3545;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 93%;
  color: #dc3545;
  position: relative;
  bottom: 5px;
}
