
<div  style="background-color: #933430;height: 100%;" >
    <!-- style="background-image: linear-gradient(to right,rgb(175, 16, 16),rgb(214, 25, 51),rgb(214, 25, 51),rgb(175, 16, 16)); height: 100%;" -->
  <div class="row" style="margin: 0;">
    <div class="col-4"></div>
<div class="col-4 mt-5 ">
    <div id="pg-login">
        <section id="login" class="d-flex justify-content-center">
          <div class="container-fluid">
          
            <div class="panel-login" style="width: 366px;
            height: 532px;">
             <img src="assets/images/banner.jpg" style="width: 367px;">
              <!--// Login Form Design //-->
              <div class="login-form">
                <h4 class="my-4 mb-4 text-gray page-heading" style="margin-left: 40%; padding-top: 20px;">Sign In</h4>
                <form class="m-form login" [formGroup]="loginForm" (ngSubmit)="loginUser()">
                  <label for="email" style="padding-left: 20px;">Phone Number*</label>
                  <div class="form-label-group" style="padding-left: 20px;    width: 330px;">
                    <input type="email" formControlName="email" id="email" class="form-control bodered"
                           placeholder="Phone Number">
                  </div>
                  <label for="password"style="padding-left: 20px;">Password*</label>
                  <div class="form-label-group" style="padding-left: 20px;    width: 330px;">
                    <input type="password" class="form-control bodered" placeholder="Password "
                           formControlName="passwordHash"
                           id="password">
                  </div>
                  <div class="text-center" style="padding-top: 30px;">
                    <button class="btn btn-lg xen-btn button filled" class="btn btn-secondary"
                            [disabled]="loading" type="submit">
                      Sign In
                    </button>
                  </div>
                  <div class="text-right" style="color: blue;padding-right: 10px;">
                    <a (click)="openForgotPassword()">Forget Password? </a>
                  </div>
                  <div class="my-4 text-center mx-5">
                      <span class="text-gray">By signing in, you agree to our
                        <a href="javascript:void(0);" class="xen-red">Terms of Service</a> and
                        <a href="javascript:void(0);" class="xen-red">Privacy Policy.</a>
                      </span>
                      <span class="text-gray">
                          Version: {{appVersion}}
                      </span>
                    <!--<span *ngIf="userForm.controls.usersRole.value == 'Patient'">New user? </span>-->
                    <!--<a routerLink="/signup" class="xen-red" *ngIf="userForm.controls.usersRole.value == 'Patient'">Sign Up</a>-->
                  </div>
                </form>
              </div>
              <!--// Forgot Passsword Design //-->
              <div class="forget-form hide">
                <div class="text-center">
                  <img src=".././../../assets/images/New-Logo.png" alt="" class="logo" width="142">
                </div>
                <h4 class="my-4 mb-4 text-gray page-heading" style="padding-top:30px;padding-left: 20px;">Forgot Password</h4>
                <form class="m-form login" [formGroup]="loginForm" (ngSubmit)="resetUser()" >
                  <div class="form-label-group"style="padding-left: 20px;    width: 330px;">
                    <input type="email" formControlName="email" id="email" class="form-control bodered"
                           placeholder="enter your email id" [(ngModel)]="userModel.email"   >
                  </div>
                  <div class="text-center" style="padding-top: 30px;">
                    <button type="submit" class="btn btn-lg xen-btn button filled" class="btn btn-danger" [disabled]="loading"
                            [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" >
                      Request Link
                    </button>
                  </div>
                  <div class="text-center" style="padding-top: 30px;">
                    <button type="submit" class="btn btn-lg xen-btn button filled" class="btn btn-success"
                            [disabled]="loading"
                            (click)="openLoginForm()" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}">
                      Login
                    </button>
                  </div>
                  <div class="my-4 text-center mx-5">
                      <span class="text-gray">By signing in, you agree to our
                        <a href="javascript:void(0);" class="xen-red">Terms of Service</a> and
                        <a href="javascript:void(0);" class="xen-red">Privacy Policy.</a>
                      </span>
                      <span class="text-gray">
                       {{appVersion}}
                       </span>
                   
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
</div>
  </div>

</div>
