<div class="container-fluid">

  <div class="header" >

    <div class="row" style="background-color: brown;">

<div class="col-md-2 mt-1 ">
  <table>
    <tr>
      <td><p class="" style="color: rgb(255, 255, 255); font-size: 18px; font-style: inherit; ">{{today | date}} {{today | date:'H:mm:ss'}}</p></td>
    </tr>
    
    <tr >
        <td  style="padding-top: .5em; color: white;"  >
            Welcome : {{userName}}
         </td>
    </tr>
    <tr >
        <td  style="padding-top: .5em; color: white;" >
            {{Number}}
         </td>
    </tr>
  </table>
    
</div>
<div class="col-md-8">
<div class="anyClass">

  <div class="anyClass" >
    
        <ng-container *ngFor="let u of getreverseLuckyArray">
        <button class="btn m-1 btn-outline-warning"> 
          <ng-container *ngIf="u.gherno<10">0{{u.gherno}}</ng-container>
            <ng-container *ngIf="u.gherno >=10">{{u.gherno}}</ng-container>
            <ng-container *ngIf="u.luckyno<10">0{{u.luckyno}} </ng-container>
            <ng-container *ngIf="u.luckyno >=10">{{u.luckyno}}</ng-container>
          </button> <button type="button" style="margin-left: -15px;" class=" btn btn-warning button button5">{{u.drawtime}}</button>
          </ng-container>
      
</div>
</div>  
  </div>
<div class="col-md-2 mt-4" >
  <p class="text-center" id="demo" style="font-size: 25px; color: white;">

  </p>
</div>


    </div>
  <!-- <div  class="row" style="color: aliceblue;">
<div class="col"> <p class="text-left mt-3" style="color: aliceblue;">{{today | date}} {{today | date:'H:mm:ss'}}</p>

  <div class="text-right ">
      <div class="float-left"><p class="text-left">Welcome</p></div>&nbsp;&nbsp;
    <div class="float-left ml-2"><p class="text-left" style="color: aliceblue;">{{userName}} {{Number}}</p></div>
</div>
</div>
<div class="col mt-4"><p class="text-center" style="color: blue; font-size: 36px;" >Ticket Booking</p></div>
<div class="col">
  <div class="text-right mt-3">
      <div class="float-right"><p class="text-right" style="color: aliceblue;">{{matchEndtime}}</p></div>
    <div class="float-right"><p class="text-right"> Draw Time:-</p></div>&nbsp;&nbsp;
  </div>
  <div class="float-right"><p class="text-right" style="color: aliceblue;"></p></div>
</div>
  </div>
    <div class="header-right">
        <div class="float-right">
            <button class="fa fa-refresh" (click)="refresh()">
         
        </button>
        </div>
       
    </div> -->
  </div>
  <div class="row">
    <div class="col-md-4  pad house">
      <!-- <div class=" bg-primary text-white "> -->
          <div class=" text-center">
              <h3 style="color: blue;" >House</h3>
            </div>
        <!-- <div class="row"> -->
          <!-- <div  class="col-md-4 "> <img src="assets/icons/home.png"></div> -->
          <!-- <div class="col-md-4 text-center">
            <h3 >House</h3>
          </div> -->

        <!-- </div> -->
      <!-- </div> -->
      <table class="table2 mt-2">
        <ng-container>
          <tr *ngFor="let item of modelFirst;">
            <td *ngFor="let number of item;">
              <button *ngIf="number.status=='active'"  class="btn btn-primary btn2"  (click)="isKeyPressed($event, number)">{{number.name}}</button>
              <button *ngIf="number.status=='inactive'"  (click)="selectedNumber(number)" (click)="isKeyPressed($event, number)" (click)="getluckyNumber(number)" class="btn btn-outline-primary btn2">{{number.name}}</button>
              <button *ngIf="number.status=='gray'" (click)="selectedNumber(number)" class="btn btn-secondary btn2" (click)="isKeyPressed(number)" id="btn2">{{number.name}}</button>
            </td>
          </tr>
        </ng-container>
      </table>
      <div class="row ml-3 mt-3 md-2">
        <div class="col-12">
            <div class="col">
                <button type="button" class=" btn btn-outline-danger">Advance</button>
                <button type="button" class=" btn btn-outline-success">Future Draws..</button>
                
                <button type="button" style="margin-left: -20px;" class=" btn btn-success button button5">{{countslot-leftslot}}</button>
                <!-- <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Total Slot</span>
                  </div>
                  <input type="text" disabled class="form-control"  aria-describedby="basic-addon1"value={{countslot}}>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Left Slot</span>
                  </div>
                  <input type="text"  disabled class="form-control"  aria-describedby="basic-addon1" value={{countslot-leftslot}}>
                </div> -->
          
            </div>
          
          
        </div>

        <div class="row">
            <div class="mt-1" *ngFor="let time of bookingslot;" >
                <ng-container *ngIf="!existInSlots(time)">
                    <button *ngIf="time.startTime > matchtime" type="button" class="btn btn-outline-primary mr-1" id="advance" (click)="addtime(time)">{{time.startTime}}</button>
                </ng-container>
                <ng-container *ngIf="existInSlots(time)">
                    <button type="button" class="btn btn-primary mr-1" id="advance" (click)="addtime(time)">{{time.startTime}}</button>
                </ng-container>
              </div>
        </div>

      </div>
    </div>
    
    <div class="col-md-offset-1 col-md-4  number">
      
      <!-- <div class=" bg-secondary text-white "> -->
          <div class=" text-center">
              <h3 style="color: rgb(255, 121, 203);" >Number</h3>
            </div>
      <!-- </div> -->
      <div *ngFor=" let item of frontNumber;" class="mt-2 ml-5">
        <div>
          <div class="btn-group-vertical left  ">
              <input type="text " disabled value="B"  class="text-center" style="width: 35px; height:21px ;"   >
              <input type=" number"  id={{item.value}} (change)="back($event)" (click)="backNumber(item.value)" style="width: 35px; height:21px ;">
          </div>
           
        </div>
      </div>
      <table class="table1">
        <ng-container>

          <tr *ngFor="let item of modelSecond; let i=index">
            <td> <input type="text" class="text-center" disabled value="F" style="width: 35px; height:21px ;"  >
              <input type=" number" class="right " id={{i}}
                style="width: 35px; height:21px ;  margin-right: 5px;" id=secondModelFirstValues{{i}}
                (change)="first($event)" [(ngModel)]="secondModelFirstValues[i]"  (click)="firstNumber(i)"></td>
            <td *ngFor="let number of item;">
              <button *ngIf="number.status=='active'" class="btn btn-primary"   (click)="FNumber(number.value)" id="btn1">{{number.name}}</button>
              <button *ngIf="number.status=='inactive'" class="btn btn-outline-primary" id="btn1"    (click)="FNumber(number.value)">{{number.name}}</button>
              <button *ngIf="number.status=='change'"  class="btn btn-secondary"id="btn1"   (click)="FNumber(number.value)" >{{number.name}}</button>
              <button *ngIf="number.status=='yellow'"  (click)="FamilysingleNumber(item.value)" class="btn btn-warning" id="btn1"   (click)="FNumber(number.value)">{{number.name}}</button>
              <button *ngIf="number.status=='danger'" class="btn btn-danger" id="btn1"   (click)="FNumber(number.value)" >{{number.name}}</button>
                <button *ngIf="number.status=='dark'"  class="btn btn-dark" (click)="FNumber(number.value)"  id="btn1">{{number.name}}</button>
                <ng-container *ngFor="let buttonValues of buttonsList" >
                <ng-container *ngIf="buttonValues.type == 'single'">
                    <input type=" number" class="even" style="width: 35px; height:20px ;" id=secondModelValues{{number.value}}
                    (change)="singleSelection(number.value)" [(ngModel)]="secondModelValues[number.value]">
                </ng-container>
              </ng-container>

            </td>

          </tr>
        </ng-container>
      </table>
      <!-- ------ -->
      <div class="row mt-2 ml-5" style="margin-left:70px ">
        <div class="row">
          <div *ngFor="let buttonValues of buttonsList" class=" mr-2  btn-group-vertical">
            <button *ngIf="buttonValues.type == 'even'" type="button" class="btn btn-outline-primary"
              id="btn3" style="width: 60px; height:20px ;">{{buttonValues.type}}</button>
            <button *ngIf="buttonValues.type == 'odd'" type="button" class="btn btn-outline-secondary"
              id="btn3" style="width: 60px; height:20px ;">{{buttonValues.type}}</button>
            <button *ngIf="buttonValues.type == 'right'" type="button" class="btn btn-outline-danger"
              id="btn3" style="width: 60px; height:20px ;">{{buttonValues.type}}</button>
            <button *ngIf="buttonValues.type == 'left'" type="button" class="btn btn-outline-dark"
              id="btn3" style="width: 60px; height:20px ;">{{buttonValues.type}}</button>
            <button *ngIf="buttonValues.type == 'family'" type="button" class="btn btn-outline-warning"
              id="btn3" style="width: 60px; height:20px ;">{{buttonValues.type}}</button>
              <button *ngIf="buttonValues.type == 'all'" type="button" class="btn btn-outline-info"
              id="btn3" style="width: 60px; height:20px ;">{{buttonValues.type}}</button>
            <div  *ngIf="buttonValues.type != 'single'" class="input-group mb-3">
              <input type="number" class="form-control" id="buttonModel{{buttonValues.typeid}}"
                (change)="eventicketNumber(buttonValues.typeid,buttonValues.typeid)" [(ngModel)]="buttonModel[buttonValues.typeid]"
                [ngModelOptions]="{standalone: true}" style="width: 60px; height:20px ;">
            </div>
          </div>
        </div>
      </div>
      <!-- ------- -->
    </div>
    <div class="col-md-3 " style="margin-left: -15px">
        <div class=" bg-light mb-3">
          <div class=" text-center" style="color: blue; font-size: 22px;">Lottery Ticket</div>
          <div class="card-body ">
              <div class="">
                  <div class="table-wrapper-scroll-y my-custom-scrollbar scrollbar-primary">
                      <table class="table table-bordered table-striped mb-0 ">
                          <th>Number</th>
                          <th>Qty</th>
                          <th></th>
                          <th>Amt</th>
                          <th></th>
                        
                          <!-- (click)="modal1.showSmall();" -->
  
                          <ng-container *ngFor="let item of billModel; index as i" >
                            <ng-container *ngFor="let values of item.values;index as i2">
                              <tr>
                                  
                                  <td width="5%" style="text-align:right"><i class="fa fa-minus-circle" (click)="minus(values) " style="color: red"></i></td>
                                  <td style="text-align: center" width="5%">{{values.ticketNo}}</td>
                                  <td width="5%"> <i class="fa fa-plus-circle" (click)="plus(values)" style="color: green"></i></td>
                                  <td style="text-align:center"  width="5%">{{values.totalticketAmt}}</td>
                                  <td width="80%" style="text-align:center" ><i class="fa fa-window-close" (click)="delete(i, i2, true)"  
                                      style="color: rgb(87, 83, 83)"></i></td>
                                     
                              
                              </tr>
                              <tr>
                                  <td colspan="12">
                                <ng-container *ngFor="let numbers of values.numbersSelected">
                                  <ng-container *ngIf="item.gherno<10">0{{item.gherno}}</ng-container>
                                  <ng-container *ngIf="item.gherno >=10">{{item.gherno}}</ng-container>
                                  <ng-container *ngIf="numbers<10">0{{numbers}},  </ng-container>
                                  <ng-container *ngIf="numbers >=10">{{numbers}},  </ng-container>
                                </ng-container>
                              </td>
                              </tr>
              
                            </ng-container>
                          </ng-container>
  
  
                          <!-- //------------------------------------// -->
                          <!-- <tr [hidden] = "IsVisible">
                                <td  class="mt-5">
                                    <input type="text" class="form-control" disabled placeholder="Total Amount"   >
                                </td>
                       
                                <td  style="margin-left: 50%">
                                    <input type="text" class="form-control" disabled [(ngModel)]="showModel.totalAmount"  [ngModelOptions]="{standalone: true}" >
                                </td>
                            </tr>
                            <tr>
                              <td>
                                  <button type="button" class="btn btn-success"  [hidden] = "IsVisible" >Submit</button>
                              </td>
                            </tr> -->
                        </table>
                        <div class="float-right">
                          <div class="input-group-prepend float-right">
                            <button type="button" class="btn btn-success float-right" 
                              (click)="saverepo()">Print</button>
                            <span class="input-group-text" id="basic-addon3" >Total Amount</span>
                            <div class="col-sm-10">
              
                              <input class=" form-control total" type="text" [(ngModel)]="totalModel.total"
                                [ngModelOptions]="{standalone: true}" readonly>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
           
          </div>
        </div>
      </div>
      <div class="col-md-1"   class="">
        <div>
            <div>
                <button class="btn btn-primary text-left" style="width: 100px;" style="margin-top: 10px; width: 100px;">Dr.{{matchEndtime}} </button>
            </div>
          
          <div>
              <button class="fa fa-refresh btn btn-primary" style="width: 100px; margin-top: 10px;" (click)="refresh()"> Refresh</button>
          </div>
            <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-top: 10px;">
                <button type="button" toggle="#password-field" class="btn btn-primary fa fa-fw fa-eye field-icon toggle-password">Amount</button>
                <input id="password-field" type="password"  style="width: 100px; height:21px ;" disabled name="password" value="{{amtvalue}}">
               
                
               
              </div>
        </div>
        <div>
            <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-top: 10px;">
                <button type="button"  class="btn btn-primary ">Last Tr. No</button>
                <input id="password-field" type="text" disabled  style="width: 100px; height:21px ;" name="password" value="{{lastid}}">
               
               
              </div>
        </div>
        <div>
            <div class="btn-group-vertical" role="group" aria-label="Basic example" style="margin-top: 10px;">
                <button type="button"  class="btn btn-primary ">Last Amt</button>
                <input id="password-field" type="text" disabled  style="width: 100px; height:21px ;" name="password" value={{previoustrans}}>
               
               
              </div>
        </div>
          
      </div>
    </div>
    <div>
    </div>
  <app-modal #modal1>
    <div class='app-modal-body'>
      <div class="modal-header" style="background-color: #F7D488;  ">
        <h5 class="modal-title" style="color:#dc3545; text-align: center">Delete Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="row">
          <div class="form-group modal-body">
            <h1 style="text-align: center">Do you want to Delete this Item ?</h1>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="background-color: #F7D488;">
        <button type="button" class="btn btn-danger" >Yes</button>
        <button type="button" class="btn btn-secondary" (click)="modal1.hide()">Close</button>
      </div>
    </div>

  </app-modal>


  <app-modal #modal2>
    <div class='app-modal-body' >
      <div id="printSectionId">
      <div class="header" style="background-color: #F7D488;  ">
        <div class="row">
                <div class="col-md-4 float-left"> <img src="assets/icons/re.png" ></div>
                <div class="col-md-4 float-center mt-2">
                  <p>Mha Laxmi</p>
                  <p>{{today | date:'fullDate'}}</p>
                  <p>{{matchtime}}</p>
                </div>
                <div class="col-md-4 float-right"> <qrcode [qrdata]="myAngularxQrCode" [size]="100" [level]="'M'"></qrcode></div>
        </div>

      </div>
      <div class="modal-body" >
        <table class="">
          <th  style="text-align:right"  width="5%" scope="col">Qty</th>
          <th style="text-align:center"  width="5%" scope="col">Amt</th>
          <ng-container *ngFor="let item of billModel; index as i" >
            <ng-container *ngFor="let values of item.values;index as i2">
              <tr class="table-active">
                  <td style="text-align: right" width="5%">{{values.ticketNo}}</td>
                  <td style="text-align:center"  width="5%">{{values.totalticketAmt}}</td>
              </tr>
              <tr class="table-light">
                  <td colspan="12">
                <ng-container *ngFor="let numbers of values.numbersSelected">
                  <ng-container *ngIf="item.gherno<10">0{{item.gherno}}</ng-container>
                  <ng-container *ngIf="numbers<10 || numbers == 0">0{{numbers}},  </ng-container>
                  <ng-container *ngIf="item.gherno >=10">{{item.gherno}}</ng-container>
                  <ng-container *ngIf="numbers >=10">{{numbers}},  </ng-container>
                </ng-container>
              </td>
              </tr>

            </ng-container>
          </ng-container>
          <tr  class="table-success">
            <td  style="text-align:center"  width="5%"> Total Amount</td>
              <td  style="text-align:center"  width="5%">{{totalModel.total}}</td>
          </tr>
          </table>
      </div>
    </div>
      <div class="modal-footer" style="background-color: #F7D488;"   class="doNotPrint">
        <button type="button" class="btn btn-danger"value="CPTURE" (click)="captureScreen()" >Print</button>
        <button type="button" class="btn btn-secondary" (click)="modal2.hide()">Close</button>
      </div>
    </div>
  </app-modal>
</div>
