// .table td {
//   padding: 0.1rem;
// }

// .table1 td {
//   padding: 0.1rem;
//   height: 20px;


// }

// .size {
//   padding: 0.05rem;
// }
// * {box-sizing: border-box;}

// body {
//   margin: 0;
//   font-family: Arial, Helvetica, sans-serif;
// }

// .header {
//   overflow: hidden;
//   background-color: #a2b3f0;
//   padding: 20px 10px;
// }

// .header a {
//   float: left;
//   color: black;
//   text-align: center;
//   padding: 12px;
//   text-decoration: none;
//   font-size: 18px;
//   line-height: 25px;
//   border-radius: 4px;
// }

// .header a.logo {
//   font-size: 25px;
//   font-weight: bold;
// }

// .header a:hover {
//   background-color: #ddd;
//   color: black;
// }

// .header a.active {
//   background-color: dodgerblue;
//   color: white;
// }

// .header-right {
//   float: right;
// }

// @media screen and (max-width: 500px) {
//   .header a {
//     float: none;
//     display: block;
//     text-align: left;
//   }

//   .header-right {
//     float: none;
//   }
// }
// #btn1 {
//   display: inline-block;


//   text-align: center;
//   vertical-align: middle;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;

//   padding: 0.375rem 0.50rem;
//   font-size: 1rem;
//   line-height: 0.5;
//   border-radius: 0.25rem;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }
// #btn2 {
//   display: inline-block;


//   text-align: center;
//   vertical-align: middle;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;

//   padding: 0.375rem 0.50rem;
//   font-size: 1rem;
//   line-height: 1.60rem;
//   border-radius: 0.25rem;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }
// button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
//   cursor: pointer;
// }

// #btn3 {

//   line-height: 0.5;

// }
// .btn1-outline-primary {
//   color: #007bff;
//   border-color: #007bff;
// }

// .form-control1:focus {
//   color: #495057;
//   background-color: #fff;
//   border-color: #80bdff;
//   outline: 0;
//   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
// }
// .form-control1 {
//   display: block;
//   width: 75%;
//   height: calc(1.0em + 0.30rem + 2px);
//   padding: 0.375rem 0.70rem;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1.5;
//   color: #495057;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid #ced4da;
//   border-radius: 0.25rem;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }
// .pad {
//   padding-right: 0px;
//   padding-left: 25px;
// }
// .bg-primary {background-color:#007aeb;color:#fff;}
// .bg-gray {background-color:#cccccc;}

// .even:focus {
//   border-color: rgb(20, 111, 248);
//   box-shadow: inset 0 1px 1px rgba(20, 111, 248, 0.075), 0 0 8px rgba(20, 111, 248, 0.6);
// }
// #even:focus {
//   border-color: rgb(20, 111, 248);
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(20, 111, 248, 0.6);
// }
// #odd:focus {
//   border-color: rgb(131, 136, 128);
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(131, 136, 128, 0.6);
// }
// #double:focus {
//   border-color: rgb(111, 248, 20);
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(111, 248, 20, 0.6);
// }
// #dark:focus {
//   border-color: rgb(15, 15, 15);
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 15, 15, 0.6);
// }
// #family:focus {
//   border-color: rgb(136, 223, 208);
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(136, 223, 208, 0.6);
// }
// #multi:focus {
//   border-color: rgb(226, 216, 79);
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(226, 216, 79, 0.6);
// }
// #advance:focus {
//   border-color: rgb(248, 20, 20);
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 20, 20, 0.6);
// }
// .button5 {border-radius: 70%;}

// .btn-circle-sm {
//   width: 35px;
//   height: 35px;
//   line-height: 35px;
//   font-size: 0.9rem;
// }
// .btn-circle {
//   width: 17px;
//   height: 17px;
//   line-height: 45px;
//   text-align: center;
//   padding: 0;
//   border-radius: 50%;
// }

// .btn-circle i {
//   position: relative;
//   top: -1px;
// }

// .left{
//   float: left;

// }

// .table2 td {
//   padding: 0.1rem;
//   height: 20px;
//   padding-bottom: .2em;


// }


.table td {
  padding: 0.1rem;
}

.table1 td {
  padding: 0.1rem;
  height: 20px;


}

.size {
  padding: 0.05rem;
}
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  // background-color: #605555;
  // background-image: linear-gradient(to right,rgb(5, 4, 110),rgb(203, 202, 255),rgb(203, 202, 255),rgb(5, 4, 110));
  // padding: 5px 5px;
  line-height: 0.4;
}

.house {
  overflow: hidden;
  // background-color: #605555;
  background-image: linear-gradient(to right,rgb(189, 76, 76),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(189, 76, 76));
  padding: 5px 5px;
  line-height: 0.4;
}
.number {
  overflow: hidden;
  // background-color: #605555;
  background-image: linear-gradient(to right,rgb(189, 76, 76),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(189, 76, 76));
  padding: 5px 5px;
  line-height: 0.4;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 15px;
  border-radius: 1px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
#advance {
  display: inline-block;


  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 0.375rem 0.50rem;
  font-size: 1rem;
  line-height: 0.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#btn1 {
  display: inline-block;


  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 0.375rem 0.50rem;
  font-size: 1rem;
  line-height: 0.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn2 {
  display: inline-block;


  text-align: center;
  margin-right: 7%;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 0.615rem 0.63rem;
  font-size: 1rem;
  line-height: 1.60rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}

#btn3 {

  line-height: 0.5;

}
.btn1-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.form-control1:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control1 {
  display: block;
  width: 75%;
  height: calc(1.0em + 0.30rem + 2px);
  padding: 0.375rem 0.70rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pad {
  padding-right: 0px;
  padding-left: 25px;
}
.bg-primary {background-color:#007aeb;color:#fff;}
.bg-gray {background-color:#cccccc;}

.even:focus {
  border-color: rgb(20, 111, 248);
  box-shadow: inset 0 1px 1px rgba(20, 111, 248, 0.075), 0 0 8px rgba(20, 111, 248, 0.6);
}
#even:focus {
  border-color: rgb(20, 111, 248);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(20, 111, 248, 0.6);
}
#odd:focus {
  border-color: rgb(131, 136, 128);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(131, 136, 128, 0.6);
}
#double:focus {
  border-color: rgb(111, 248, 20);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(111, 248, 20, 0.6);
}
#dark:focus {
  border-color: rgb(15, 15, 15);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 15, 15, 0.6);
}
#family:focus {
  border-color: rgb(136, 223, 208);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(136, 223, 208, 0.6);
}
#multi:focus {
  border-color: rgb(226, 216, 79);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(226, 216, 79, 0.6);
}
#advance:focus {
  border-color: rgb(248, 20, 20);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 20, 20, 0.6);
}
.button5 {border-radius: 70%;}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}
.btn-circle {
  width: 17px;
  height: 17px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.left{
  float: left;
  width: 7%;
  height: 3%;
  margin-right: 3%;

}
.right{
  // float: left;
  width: 35%;
  height: 42%;
  // margin-right: 3%;

}

.table2 td {
  padding: 0.1rem;
  height: 20px;
  padding-bottom: .2em;


}
.total{
  width: 40%;
  height: 100%;
}
.my-custom-scrollbar {
position: relative;
height: 600px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(255, 255, 255); }
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); 
    background-color: #4285F4;
  }

  @media print{
    .doNotPrint{display:none !important;}
  }
.active {
  background-color: #666;
  color: white;
}

#table4[_ngcontent-c2] td[_ngcontent-c2] {
  padding: 1rem;
}



.anyClass{
    overflow: scroll;
    overflow-x: hidden;
    height:100px;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}