.style {

  margin-top: 20px;
  width: 59px;
  margin-left: 4px;
}

.style2 {

  margin-top: 20px;
  width: 60px;
  margin-left: 12px;
}

.new1 {
  margin-left: -36px;
}

div.scrollmenu {
  background-color:white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.active, .btn:hover {
  background-color: #666;
  color: white;
}

.newdesign {
  width: 1140px;
  margin-left: -2px;
  margin-top: 50px;
  background-color: white;
  height: 386px;
}
.design{
  width: 52px;
  padding-left: 2px;
  margin-top: 10px;
}
.design2{
  margin-left: 10px;
  width: 52px;
  padding-left: 2px;
  margin-top: 10px;
}
.font{
  font-size: 21px;
}
.hide{
  display: none;
}
.search-container {
  float: right;
  margin-top: 57px;
}

// .btnn {
//   border: none;
//   outline: none;
//   padding: 10px 16px;
//   background-color: #f1f1f1;
//   cursor: pointer;
//   font-size: 18px;
//   border: 1px ;
// }

/* Style the active class, and buttons on mouse-over */
.active, .btnn:hover {
  background-color: #666;
  color: white;
}