<div class="container-fluid">
  <!-- <div id="dash" class="main-width">
    <div class="row mt-1" style="background-color: brown;width: 109%;color: cornsilk; height: 40px;">
        <div class="col-md-2 col-lg-4 col-sm-4 " id="next">
            <div class="col"> <p class="text-left mt-3" style="color: cornsilk; font-size: large; font-style: inherit;">{{today | date:'MMM d, y'}} </p></div>
        </div>        
      <div class="col-md-4 col-lg-4 col-sm-4 mt-1">
        <h3 style="margin-left: 119px;"> Result</h3>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-4 mt-1" >
        <h5 class="label bold d-inline-block" style="margin-left: 190px;">{{userName}} {{phoneDisp}} </h5>
      </div>
    </div>
    <div class="row" style="background-color: brown ; color: cornsilk;width: 109%;">

        <div class="col-md-12" style="margin-left: 1080px;">
          <h4> ({{role}})</h4>
        </div>
      </div>
  </div> -->
<div class="search-container" >
    <form action="/action_page.php">
      <input type="text" placeholder="Enter only Gher Number" name="search" [(ngModel)]="searchText" >
      <button (click)="search1()"type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="row mt-3" style="margin-left: 453px;">
    <div class="btn-group styles">
      <button type="button" (click)="yesterday()"class="btn btn-outline-danger" style="width: 150px">Yesterday
      </button>
      <button type="button" (click)="todayResult()"class="btn btn-outline-danger"  style="width: 150px">
        Today
      </button>
    </div>
  </div>


  <div class="panel panel-default newdesign" >
    <div class="scrollmenu" >
    <ng-container *ngFor="let slot of bookingslot">
   <button class="btn "  (click)="getResult(slot.id)"><ng-container ><button class="btn btn-danger">{{slot.startTime}}</button> </ng-container>
    </button>
   <!-- <button class="btn btn-secondary" >{{slot.startTime}}</button> -->
 </ng-container>
</div>
       <div class="row" id="old"style="  margin-left: 17px;margin-top: 29px;">
      <!-- <div class="new"  *ngFor="let u of resultList">
      <button class="btn m-1 btn-outline-primary" *ngIf="u.gherNo<10"><span class="font">0{{u.gherNo}}</span></button>
      <button class="btn m-1 btn-outline-primary" *ngIf="u.gherNo>10"><span class="font">{{u.gherNo}}</span></button>
      <button class="btn m-1 btn-outline-primary" *ngIf="u.luckyNumber<10"><span class="font">0{{u.luckyNumber}}</span></button>
        <button class="btn m-1 btn-outline-primary" *ngIf="u.luckyNumber>10"><span class="font">{{u.luckyNumber}}</span></button>


      </div> -->
      <ng-container *ngFor="let u of resultList ">
        <button class="btn m-1 btn-outline-danger"> 
        <ng-container *ngIf="u.gherNo<10">0{{u.gherNo}}</ng-container>
          <ng-container *ngIf="u.gherNo >=10">{{u.gherNo}}</ng-container>
          <ng-container *ngIf="u.luckyNumber<10">0{{u.luckyNumber}} </ng-container>
          <ng-container *ngIf="u.luckyNumber >=10">{{u.luckyNumber}}</ng-container>
        </button>
        </ng-container>
        
    </div>
   
  </div>
</div>
