<div class="container-fluid">
    <!-- <div id="dash" class="main-width">
        <div class="row mt-1" style="background-color: brown;width: 109%;color: cornsilk; height: 40px;">
            <div class="col-md-2 col-lg-4 col-sm-4 " id="next">
                <div class="col"> <p class="text-left mt-3" style="color: cornsilk; font-size: large; font-style: inherit;">{{today | date:'MMM d, y'}} </p></div>
            </div>        
          <div class="col-md-4 col-lg-4 col-sm-4 mt-1">
            <h3 style="margin-left: 77px;">View User</h3>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-4 mt-1" >
            <h5 class="label bold d-inline-block" style="margin-left: 190px;">{{userName}} {{phoneDisp}} </h5>
          </div>
        </div>
        <div class="row" style="background-color: brown ; color: cornsilk;width: 109%;">
    
            <div class="col-md-12 col-lg-4 col-sm-4" style="margin-left: 1080px;">
              <h4> ({{role}})</h4>
            </div>
          </div>
    </div> -->
    <div class="row mt-2">
      <div class="btn-group style" style="margin-left: 425px;">
        <button type="button" class="btn btn-outline-danger" (click)="openActivatedClient()"
          style="width: 150px">Activated
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="openDeactivatedClient()" style="width: 150px">
          Deactivated
        </button>
      </div>
      <div class=" text-right">
        <a href="javascript:void(0)" class="btn xen-btn filled" (click)="openAddClient()">
          <img src="assets/icons/add-team-member.png" class="img-fluid" width="23px" style=" margin-left: 547px;">
        </a></div>
    </div>
    <div class="activated-Form">
      <div class="row">
        <div class="col-12">
          <div class="open-tabs" id="">
            <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
              <div id="team-table" class="table mt-1">
                <form>
  
                </form>
              </div>
              <table class="table">
                <colgroup>
                  <col width="10%">
                  <col width="10%">
                  <col width="15%">
                  <col width="15%">
                  <col width="10%">
                  <col width="10%">
                  <col width="10%">
                  <col width="10%">
                  <col width="10%">
  
                </colgroup>
                <thead>
                  <th>FirstName</th>
                  <th>LastName</th>
                  <th>Email</th>
                  <th>Phone no.</th>
                  <th>Role</th>
                  <th>View</th>
                  <th>Action</th>
                  <th>Wallet</th>
                  <th>License</th>
                </thead>
                <tbody>
                  <tr *ngFor="let u of allClients">
                    <td class="table-primary">{{u.firstName}}</td>
                    <td class="table-success">{{u.lastName}}</td>
                    <td class="table-danger">{{u.email}}</td>
                    <td class="table-active">{{u.phoneNumber}}</td>
                    <td class="table-warning">{{u.roleMaster.name}}</td>
                    <td class="table-secondary"><a class="fa fa-eye" (click)="viewClient(u.id)"></a></td>
                    <td class="table-warning"><a class="fa fa-trash" (click)="deleteClient(u.id)"></a></td>
                    <td class="table-primary"><a><img src="assets/icons/smallwallet.png" (click)="walletModal.show()"></a>
                    </td>
                    <td class="table-success"><a> <img src="assets/icons/license.png"  (click)="licenseModal.show()"
                          (click)="userId(u.id)"></a>
                    </td>
                  </tr>
  
  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="deactivated-Form">
      <div class="row">
        <div class="col-12">
          <div class="open-tabs" id="">
            <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
              <div id="team-table" class="table mt-1">
              </div>
              <table class="table">
                <colgroup>
                  <col width="15%">
                  <col width="15%">
                  <col width="15%">
                  <col width="15%">
                  <col width="15%">
                  <col width="15%">
                  <col width="10%">
  
                </colgroup>
                <thead>
                  <th>FirstName</th>
                  <th>LastName</th>
                  <th>Email</th>
                  <th>Phone no.</th>
                  <th>Role</th>
                  <!-- <th>View</th> -->
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let u of allInActiveClients">
                    <td class="table-primary">{{u.firstName}}</td>
                    <td class="table-success">{{u.lastName}}</td>
                    <td class="table-danger">{{u.email}}</td>
                    <td class="table-active">{{u.phoneNumber}}</td>
                    <td class="table-warning">{{u.roleMaster.name}}</td>
  
                    <td class="table-secondary"><a class="fa fa-eye" routerLink="/distributor/view-client-details"></a>
  
                    </td>
  
                    <td class="table-warning"><a class="fa fa-pencil" (click)="activeClient(u.id)"></a>
  
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  <div class="container-fluid">
    <app-wallet-modal #walletModal>
      <div class='app-wallet-modal-body'>
        <div class="modal-header" style="background-color: #F7D488;">
          <h5 class="modal-title" style="color:#dc3545; text-align: center">Add Money Wallet</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="walletModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-7">
              <input type="text" name="amount" id="amount" class="form-control"
                placeholder="Enter Amount to be Added in Wallet">
            </div>
            <form class="form-group col-12">
              <h3 style="color:#282a3c; margin-top: 20px">Select Mode Of Payment</h3>
              <div class="row mt-3">
                <div class="col-md-4 ">
                  <input type="checkbox" name="" value="1" (click)="openCash()"> Cash
                </div>
  
                <div class="col-md-4">
                  <input type="checkbox" name="" value="2" (click)="openNeft()"> NEFT(RTGS/IMPS)
  
                </div>
                <div class="col-md-4">
                  <input type="checkbox" name="" value="3" (click)="opencheque()"> Cheque
                  Cheque
                </div>
              </div>
              <div class="cash">
                <div class="row comment mt-3">
                  <div class="col-md-5">
  
                    <input type="text" name="amount" id="name" class="form-control" placeholder="Name of Payee">
                  </div>
                  <div class="col-md-5">
                    <input type="number" name="amount" id="phoneNo" class="form-control" placeholder="Phone No.">
                  </div>
                </div>
                <div class="row comment mt-2 ">
                  <div class="col-md-10">
                    <input type="text" name="amount" id="comment" class="form-control" placeholder="Any Comment ?"
                      style=" height:85px">
                  </div>
                </div>
              </div>
              <div class="neft hide">
                <div class="row mt-3">
                  <div class="col-md-5">
                    <input type="number" name="amount" id="transactionNo" class="form-control"
                      placeholder="Transaction Number">
                  </div>
                </div>
                <div class="row comment mt-2 ">
                  <div class="col-md-10">
                    <input type="text" name="amount" id="comment" class="form-control" placeholder="Any Comment ?"
                      style=" height:85px">
                  </div>
                </div>
              </div>
              <div class="cheque hide">
                <div class="row comment mt-3">
                  <div class="col-md-5">
  
                    <input type="text" name="amount" id="BankName" class="form-control" placeholder="Bank Name">
                  </div>
                  <div class="col-md-5">
                    <input type="number" name="amount" id="ChequeNo" class="form-control" placeholder="Cheque No.">
                  </div>
                </div>
                <div class="row comment mt-2 ">
                  <div class="col-md-10">
                    <input type="text" name="amount" id="comment" class="form-control" placeholder="Any Comment ?"
                      style=" height:85px">
                  </div>
                </div>
              </div>
              <div class="modal-footer" style="background-color: #F7D488;">
                <button type="button" class="btn btn-danger">Save</button>
                <button type="button" class="btn btn-secondary" (click)="walletModal.hide()">Close</button>
              </div>
            </form>
          </div>
        </div>
  
      </div>
  
  
  
    </app-wallet-modal>
    <app-wallet-modal #licenseModal>
      <div class='app-wallet-modal-body'>
        <div class="modal-header" style="background-color: #F7D488;">
          <h5 class="modal-title" style="color:#dc3545; text-align: center">License</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="licenseModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-12">
              <form [formGroup]="licenseForm">
                <div class="row mt-3">
                  <div class="col-md-4">
                    <label>License Number:-</label>
                  </div>
                  <div class="col-md-6 ">
  
                    <input type="text" name="amount" id="comment" class="form-control" placeholder="License Number">
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4">
                    <label>Machine Number:-</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" name="amount" id="comment" class="form-control" placeholder="Machine No." >
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4">
                    <label>Start Date:-</label>
                  </div>
                  <div class="col-md-6">
                    <input type="Date" name="amount" id="comment" class="form-control" formControlName="fromDate" >
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4">
                    <label>End Date:-</label>
                  </div>
                  <div class="col-md-6">
                    <input type="Date" name="amount" id="comment" class="form-control" formControlName="toDate">
                  </div>
                </div>
                <div class="modal-footer mt-4" style="background-color: #F7D488;">
                  <button type="button" class="btn btn-warning" style="margin-right: 355px; width: 146px;" (click)="machineReset()">Machine
                    Reset</button>
                  <button type="button" class="btn btn-danger" (click)="licenseRenewal()">Update</button>
                  <button type="button" class="btn btn-secondary" (click)="walletModal.hide()">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </app-wallet-modal>
  </div>
  